@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 90px auto;
}

.page-title {
  width: 90%;
  margin: auto;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.header {
  width: 90%;
  padding-top: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  border: #ccc solid 1px;
  background: gray;
  border-radius: 50%;
  color: white;
  padding: 10px;
  rotate: 20deg;
  font-size: 30px;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.hero {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.hero-content {
  width: 50%;
}

.hero-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.pin-articles {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.pin-articles-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 20px;
}

.pin-article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.pin-article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.pin-article-title {
  font-size: 20px;
  font-weight: bold;
}

.pin-article-description {
  font-size: 16px;
}

.articles {
  width: 90%;
  margin: auto auto 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.article-description {
  font-size: 16px;
}

.footer {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  color: gray;
  border-top: 1px solid #ccc;
}

/* Full article */

.full-article {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.full-article-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.full-article-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.full-article-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.full-article-content {
  margin-bottom: 20px;
}

.full-article-list {
  margin: 20px 50px;
}

.full-article-list li {
  margin-bottom: 10px;
}

/* About page */

.about-main {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-main h1 {
  font-size: 50px;
  text-transform: capitalize;
}

/* Media queries Home */
@media screen and (max-width: 768px) {
  .header {
    width: 90%;
    margin: 0 auto;
  }
  .main {
    margin: 20px auto;
  }

  .hero {
    flex-direction: column;
  }

  .hero-content {
    width: 100%;
  }
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media queries Full article */

@media screen and (max-width: 768px) {
  .full-article {
    width: 90%;
  }
  .full-article-image {
    height: 200px;
  }
}
